doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        //- link(rel="stylesheet", href="style.css")
    body 

        header 
            h1  CoffeeMovie
            a(href="/menu")
                input(type="button" id="menu_hamburguesa" value="Menu")

        main#details_container 
            form(action="/search/" method="post" id="search-form")      
                label(for="title") Search for a movie:
                input(type="text" id="search-bar" name="title" placeholder="Your movie here..." required)
                button(type="submit") Search       
    

            article(class="detailCard") 

                img(src=`${movieDetails.poster_path}` alt=`Poster for ${movieDetails.title}`)
                p Name: #{movieDetails.title}
                p Runtime: #{movieDetails.runtime}
                p Director: #{movieDetails.director}
                p Overview: #{movieDetails.overview}
                p Ratings: #{movieDetails.vote_average}

                section#scrapSection
                button#rating  OPINIONS

        script(src="/script/scriptScrap.js")
         
        footer 
            img(src="/assets/logoApi.png", alt="logo Api")
