doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title CoffeeMovie
        link(rel="stylesheet", href="/style.css")
        
    body

        header 
            h1  CoffeeMovie
            input(type="button" id="menu_hamburguesa" value="Menu")

        main  
            h1 Here are your films:
            for movie of movieDetails
                article(class="search-list-card")
                    button(class="detail-btn")
                        h2 #{movie.title}
                        img(src=`https://image.tmdb.org/t/p/w500${movie.poster_path}` alt=`Poster for ${movie.title}`)
                        h3 Release date: #{movie.release_date}
                        h3(hidden) #{movie.id}
                        h3 Director: #{movie.director}
                        h3 Genre: #{movie.genre}
                        h3 Runtime: #{movie.runTime} minutes
                        //- input(class="addFav" type="submit") Add to My Movies
        script(src='/scripts/film-list.js')
            -
            //- for (let i = 0; i < directors.length; i++) {
            //-     article(class="search-list-card")   
            //-         button(class="detail-btn")
            //-             h2 #{movieDetails[i].title}
            //-             img(src=`https://image.tmdb.org/t/p/w500${movieDetails[i].poster_path}` alt=`Poster for ${movie.title}`)
            //-             h3 Release date: #{movieDetails[i].release_date}
            //-             h3(hidden) #{movieDetails[i].id}
            //-             h3 Directors: #{directors[i]}
            //- }

            //- each movie in movieDetails || directors
            //-     article(class="search-list-card")
            //-         button(class="detail-btn")
            //-             h2 #{movie.title}
            //-             img(src=`https://image.tmdb.org/t/p/w500${movie.poster_path}` alt=`Poster for ${movie.title}`)
            //-             h3 Release date: #{movie.release_date}
            //-             h3(hidden) #{movie.id}
                        //- h3 Directors: #{getStaff(movie.id)}

            //- h1 These are the directors:
            //- each item in directors  
            //-     h3 Director: #{item}
                        
                   

                    


